# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
.coverage
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/_build/

# PyCharm
.idea/

# VS Code
.vscode/

# Environment
.env
.venv
env/
venv/
ENV/
